global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'stg_frontend'
    static_configs:
      - targets: ['http://$EC2_IP:80', 'http://$EC2_IP:8080']
  - job_name: 'stg_microservices'
    static_configs:
      - targets:
          - http://$EC2_IP:8880
          - http://$EC2_IP:8881
          - http://$EC2_IP:8882
          - http://$EC2_IP:8884
          - http://$EC2_IP:8885
  - job_name: 'mysql'
    static_configs:
      - targets: ['http://$EC2_IP:3306']  # Adjust URL if MySQL exposes Prometheus metrics
